@import '../sass/abstract/variables.scss';
@import '../sass/abstract/mixins.scss';
@import '../sass/base/reset.scss';
@import '../sass/base/typography.scss';
@import '../sass/component/button.scss';



.body-section--paddings{
    padding: 50px 0 !important;

}
.section__container{
    width: $sizeMain !important;
    margin: $marginTopBottomMain $marginRight !important;
}
.main-page{
    position: relative

}

.header-section{
    position: relative;
    // border: 1px solid rgba(0, 0, 0, 0);
    // margin: 0 !important;
}


.navigation{
    margin-top: -3px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px 10px 20px;
    align-items: center;
    // position :relative;
    width: 100vw;
    background-color: white;
    min-height: 8vh;
    position: fixed;
    // top: 0px;
    z-index: 3000000000000000000;
    // top : 50px;
    // box-shadow: 0px 0px 10px -5px black;

    &__link-box{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__image{
        width: 80%;
    }

    .nav-link{
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bolder;
        font-family: 'Roboto', sans-serif ;
    
        &:visited,
        &:link{
            color: #3C3C3B;
        }
        &::after{
            content: '';
            width: 100%;
            height: .5rem;
            @include linkColors;
            display: block;
            transition: all 0.4s;
            opacity: 0;
        }
        &:hover::after{
            opacity: 1;
            transition: all .1s;
        }
    }
}

.burger{
    display: none;

    & div{
        height: 0.4rem;
        width: 3rem;
        background-color:$pinkColor;
        margin: 6px 0;
    }
}
.hero-section{
    // padding: 50px auto !important;
    // margin-top: 9% !important;
    
    // border : 1px solid black;

    &__text, &__image{
        height: auto;
    }
    .text-head--size{
        font-size: 6.4rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        line-height: normal;
        margin: 0;

    } 
}
.hero__container{
    width: $sizeMain ;
    margin: 0 $marginRight !important;
    padding: 55px 0
}

.menu--shadow{
    box-shadow: 0px 0px 10px -8px black !important;
    background: white;
}
.about{
    background-color: rgb(253, 242, 244);
    position: relative;
    &__container{
        width: $sizeMain !important;
        margin: $marginTopBottomMain $marginRight !important;
        
    
    }
    &__photo{
        width : 100%;

    }
    .description__image--size{
        width: 100%;  
    }
    .biography__greetings-size{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .biography__paragraph--text{
        text-align: justify;
    }
    .biography__paragraph--margin{
        margin-bottom: 5%;
    }
    .about__contacts{
        margin-bottom: 5%;
    }
    .pink--color{
        color: $pinkColor;
    }
}

.skills{
    // background-color: rgb(255, 249, 250);

    // background: $greyColor;
    background-color: $backgroundGreyColor;

    &__card--color{
        background: #fff;
        padding: 30px;
        box-shadow: 0px 0px 10px -8px black;
        margin-top: 10px;
    }
    &__card--color div{
        margin: 15px 0;
    }
    .skills__name--size{
        font-weight: bold;
    }
    .progress__bar--settings{
        background-color: #BFE5F3 ;
        height: 0.6rem;
        width: 100%;
    }
    
    .progress__bar--settings::-webkit-progress-bar {
        background-color : #BFE5F3 ;
    }
    .progress__bar--settings::-webkit-progress-value {
        background-color : $pinkColor;
    }

    .progress__bar--settings::-moz-progress-bar{
        background-color: #BFE5F3;
    }
    
}

.specialisation--backgroundcolor{
    background-color: $blackColorBackground ;
    opacity: 0.99;
}
.specialisation{
    position: relative;
    &:after{
        content: '';
        background: url('../img/footer-bcg.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.03;
        z-index: -1;
    }
    &__card--color{
        background-color: $pinkColor;
        color: #fff;
        box-shadow: 3px 3px 0px 0px  $blueColor;
    }
    &__card--size{
        width: 100%;
        height: 100%;
        padding: 20px 20px;
        position: relative;
        border: 2px solid $pinkColor;
    }
    &__card--animation:hover{
        background: white;
        transition: all 0.4s ease-out 0.1s ;
        border: 2px solid $blueColor;
        color : black;
        box-shadow: 3px 3px 0px 0px  $pinkColor;
    }
    .fas{
        font-size: 5rem
    }
}

.portfolio{
    background-color: $backgroundGreyColor;

    .visible-card{
        visibility: visible;
    }
}

.contact{
    background-color: $pinkColor;
    // background-color: rgb(253, 242, 244);



    .field input, .field textarea{
        border-radius: 0px !important;
    }
    .text__area--margin{
        margin-bottom: 100%;
    }
    &__details{
        background-color: white;
        padding: 30px 20px;
        height: 100%;
        box-shadow: 0px 0px 10px -8px black;

    }



}

.footer{
    position: relative;
    &--background-color{
        background-color: $blackColorBackground;
        opacity: 0.99;
    }

    &:after{
        content: '';
        background: url('../img/footer-bcg.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.03;
        z-index: -1;
    }

    .footer__header{
        font-family: 'Kaushan Script', cursive;
        font-size: 5rem;
        color: #fff;
        text-align: center;
    }
    .iconify{
        font-size:5rem;
    }
    .footer__logo--position{
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin: 50px auto 0 auto;
    }
    .copy-right{
        text-align: center;
        color: rgba(255,255,255,0.5);
    } 
}


@media screen and (max-width: 800px) {
    .image--size{
        width: 90%;
        margin: 0;
    }
    .text-head--size{
        font-size: 1rem ;
    }
    .iconify{
        font-size: 4rem;
    }
    .footer__header{
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px){
    .navigation__link-box{
        position: absolute;
        top: 10vh;
        height: 50vh;
        right: 0px;
        background-color: $greyColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        transform: translateX(100%);
        transition: transform 0.5s ease 0.2s;
        z-index: 3;
    }   
    .hero-section{
        margin-top: 10% !important;
        margin-bottom: 15%;
    }
 
    .nav-link{
        border-bottom: 1px solid $pinkColor;
        
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 992px){
    .hidden-card{
        display: none !important;
    }
}

@media screen and (max-width: 1200px){
    .hero-section{
        margin-top: 15% !important;
        margin-bottom: 15%;
    }
}
.nav-active{
    transform: translateX(0%) ;
}

.main-page--blacked{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    z-index: 10;
    opacity: .7;
    transition: all 0.5s ease-in-out .3s  ;
}
