/*variables d'initialisation*/
/* variables du main*/
/*varaiables tailles en px*/
/*variables couleurs*/
/*variables for fonts*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.titles--font-family {
  font-family: "Roboto", sans-serif;
}

.paragraphs-font-family {
  font-family: "Lato", sans-serif;
}

.titles--font-color {
  color: #E43583;
}

.title--second-color {
  color: #3C3C3B;
}

.title--third-color {
  color: #FDFDFD;
}

.paragraphs--color {
  color: #3C3C3B;
}

.paragraphs--font-family {
  font-family: "Lato", sans-serif;
}

.titles--font-size {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.paragraphs--font-size {
  font-size: 1.7rem;
}

.description__paragraph--size {
  border-top: 2px solid #0099CD;
  width: 70%;
  padding-top: 5px;
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0px 50px 0;
}

.bold-text--color {
  color: #E43583;
}

.third__title--size {
  font-size: 2.2rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.label--font-family {
  font-family: "Lato", sans-serif;
}

.bold--text {
  font-weight: bold;
  font-size: 2rem;
}

.icon--font-color {
  color: #E43583;
}

.titles--underline::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 0.5rem;
  background-color: #E43583;
  display: block;
  margin: 0px 47%;
  margin-top: 5px;
}

.titles--underline-white::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 0.5rem;
  background-color: white;
  display: block;
  margin: 0px 47%;
  margin-top: 5px;
}

.title--black {
  color: rgba(0, 0, 0, 0.952);
}

.btn:link,
.btn:visited {
  background-color: #fff;
  color: #0099CD;
  border: 2px solid #0099CD;
  box-shadow: 5px 5px 0px 0px #E43583;
  padding: 1rem 2rem;
  position: relative;
  font-weight: bold;
  font-size: 1.4rem !important;
}

.btn:hover {
  background-color: #E43583;
  border: 2px solid #E43583;
  color: #fff;
  box-shadow: 5px 5px 0px 0px #0099CD;
  transition: 0.2s;
}

.btn-nav:link,
.btn-nav:visited {
  background-color: #fff;
  color: #0099CD;
  border: 2px solid #0099CD;
  box-shadow: 5px 5px 0px 0px #E43583;
  padding: 0.7rem 1.6rem;
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: Roboto;
}

.btn-nav:hover {
  background-color: #E43583;
  border: 2px solid #E43583;
  color: #fff;
  box-shadow: 5px 5px 0px 0px #0099CD;
  transition: all 0.2s;
}

.btn--centered-size {
  text-align: center;
  margin-top: 50px;
}

.btn--inverted-color {
  background-color: #fff;
  color: #E43583;
  box-shadow: 5px 5px 0px 0px #0099CD;
  padding: 1rem 2rem;
  position: relative;
  font-weight: bold;
  font-size: 1.4rem !important;
}

.btn--inverted-color:hover {
  background-color: #0099CD;
  color: #fff;
  box-shadow: 5px 5px 0px 0px white;
  transition: all 0.2s;
}

.body-section--paddings {
  padding: 50px 0 !important;
}

.section__container {
  width: 80vw !important;
  margin: 50px auto !important;
}

.main-page {
  position: relative;
}

.header-section {
  position: relative;
}

.navigation {
  margin-top: -3px;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px 10px 20px;
  align-items: center;
  width: 100vw;
  background-color: white;
  min-height: 8vh;
  position: fixed;
  z-index: 3000000000000000000;
}
.navigation__link-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__image {
  width: 80%;
}
.navigation .nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
.navigation .nav-link:visited, .navigation .nav-link:link {
  color: #3C3C3B;
}
.navigation .nav-link::after {
  content: "";
  width: 100%;
  height: 0.5rem;
  background-color: #E43583;
  display: block;
  transition: all 0.4s;
  opacity: 0;
}
.navigation .nav-link:hover::after {
  opacity: 1;
  transition: all 0.1s;
}

.burger {
  display: none;
}
.burger div {
  height: 0.4rem;
  width: 3rem;
  background-color: #E43583;
  margin: 6px 0;
}

.hero-section__text, .hero-section__image {
  height: auto;
}
.hero-section .text-head--size {
  font-size: 6.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
}

.hero__container {
  width: 80vw;
  margin: 0 auto !important;
  padding: 55px 0;
}

.menu--shadow {
  box-shadow: 0px 0px 10px -8px black !important;
  background: white;
}

.about {
  background-color: #fdf2f4;
  position: relative;
}
.about__container {
  width: 80vw !important;
  margin: 50px auto !important;
}
.about__photo {
  width: 100%;
}
.about .description__image--size {
  width: 100%;
}
.about .biography__greetings-size {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.about .biography__paragraph--text {
  text-align: justify;
}
.about .biography__paragraph--margin {
  margin-bottom: 5%;
}
.about .about__contacts {
  margin-bottom: 5%;
}
.about .pink--color {
  color: #E43583;
}

.skills {
  background-color: #fdfdfd;
}
.skills__card--color {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px -8px black;
  margin-top: 10px;
}
.skills__card--color div {
  margin: 15px 0;
}
.skills .skills__name--size {
  font-weight: bold;
}
.skills .progress__bar--settings {
  background-color: #BFE5F3;
  height: 0.6rem;
  width: 100%;
}
.skills .progress__bar--settings::-webkit-progress-bar {
  background-color: #BFE5F3;
}
.skills .progress__bar--settings::-webkit-progress-value {
  background-color: #E43583;
}
.skills .progress__bar--settings::-moz-progress-bar {
  background-color: #BFE5F3;
}

.specialisation--backgroundcolor {
  background-color: #282828;
  opacity: 0.99;
}

.specialisation {
  position: relative;
}
.specialisation:after {
  content: "";
  background: url("../img/footer-bcg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: -1;
}
.specialisation__card--color {
  background-color: #E43583;
  color: #fff;
  box-shadow: 3px 3px 0px 0px #0099CD;
}
.specialisation__card--size {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  position: relative;
  border: 2px solid #E43583;
}
.specialisation__card--animation:hover {
  background: white;
  transition: all 0.4s ease-out 0.1s;
  border: 2px solid #0099CD;
  color: black;
  box-shadow: 3px 3px 0px 0px #E43583;
}
.specialisation .fas {
  font-size: 5rem;
}

.portfolio {
  background-color: #fdfdfd;
}
.portfolio .visible-card {
  visibility: visible;
}

.contact {
  background-color: #E43583;
}
.contact .field input, .contact .field textarea {
  border-radius: 0px !important;
}
.contact .text__area--margin {
  margin-bottom: 100%;
}
.contact__details {
  background-color: white;
  padding: 30px 20px;
  height: 100%;
  box-shadow: 0px 0px 10px -8px black;
}

.footer {
  position: relative;
}
.footer--background-color {
  background-color: #282828;
  opacity: 0.99;
}
.footer:after {
  content: "";
  background: url("../img/footer-bcg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: -1;
}
.footer .footer__header {
  font-family: "Kaushan Script", cursive;
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
.footer .iconify {
  font-size: 5rem;
  color: red !important;
}
.footer .footer__logo--position {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 50px auto 0 auto;
}
.footer .copy-right {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 800px) {
  .image--size {
    width: 90%;
    margin: 0;
  }

  .text-head--size {
    font-size: 1rem;
  }

  .iconify {
    font-size: 4rem;
  }

  .footer__header {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation__link-box {
    position: absolute;
    top: 10vh;
    height: 50vh;
    right: 0px;
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease 0.2s;
    z-index: 3;
  }

  .hero-section {
    margin-top: 10% !important;
    margin-bottom: 15%;
  }

  .nav-link {
    border-bottom: 1px solid #E43583;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .hidden-card {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .hero-section {
    margin-top: 15% !important;
    margin-bottom: 15%;
  }
}
.nav-active {
  transform: translateX(0%);
}

.main-page--blacked {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 10;
  opacity: 0.7;
  transition: all 0.5s ease-in-out 0.3s;
}

/*# sourceMappingURL=style.css.map */
