/*variables d'initialisation*/
/* variables du main*/
/*varaiables tailles en px*/
/*variables couleurs*/
/*variables for fonts*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.titles--font-family {
  font-family: "Open Sans", sans-serif;
}

.paragraphs-font-family {
  font-family: "Open Sans", sans-serif;
}

.titles--font-color {
  color: #E43583;
}

.title--second-color {
  color: #3C3C3B;
}

.title--third-color {
  color: #FDFDFD;
}

.paragraphs--color {
  color: #3C3C3B;
}

.paragraphs--font-family {
  font-family: "Open Sans", sans-serif;
}

.titles--font-size {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.paragraphs--font-size {
  font-size: 1.7rem;
}

.description__paragraph--size {
  border-top: 2px solid #0099CD;
  width: 70%;
  padding-top: 5px;
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0px 50px 0;
}

.bold-text--color {
  color: #E43583;
}

.third__title--size {
  font-size: 2.2rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.label--font-family {
  font-family: "Open Sans", sans-serif;
  color: #5f5f5f;
}

.bold--text {
  font-weight: bold;
  font-size: 2rem;
}

.icon--font-color {
  color: #E43583;
}

.titles--underline::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 0.35rem;
  background-color: #E43583;
  display: block;
  margin: 0px 47%;
  margin-top: 5px;
}

.titles--underline-white::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 0.35rem;
  background-color: white;
  display: block;
  margin: 0px 47%;
  margin-top: 5px;
}

.title--black {
  color: rgba(0, 0, 0, 0.952);
}

.btn:link,
.btn:visited {
  background-color: #fff;
  color: #0099CD;
  border: 2px solid #0099CD;
  box-shadow: 5px 5px 0px 0px #E43583;
  padding: 1rem 2rem;
  position: relative;
  font-weight: bold;
  font-size: 1.4rem !important;
  font-family: "Open Sans", sans-serif;
}

.btn:hover {
  background-color: #E43583;
  border: 2px solid #E43583;
  color: #fff;
  box-shadow: 5px 5px 0px 0px #0099CD;
  transition: 0.2s;
}

.btn-nav:link,
.btn-nav:visited {
  background-color: #fff;
  color: #0099CD;
  border: 2px solid #0099CD;
  box-shadow: 5px 5px 0px 0px #E43583;
  padding: 0.7rem 1.6rem;
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.btn-nav:hover {
  background-color: #E43583;
  border: 2px solid #E43583;
  color: #fff;
  box-shadow: 5px 5px 0px 0px #0099CD;
  transition: all 0.2s;
}

.btn--centered-size {
  text-align: center;
  margin-top: 50px;
}

.btn--inverted-color {
  background-color: #fff;
  color: #E43583;
  box-shadow: 5px 5px 0px 0px #0099CD;
  padding: 1rem 2rem;
  position: relative;
  font-weight: bold;
  font-size: 1.4rem !important;
}

.btn--inverted-color:hover {
  background-color: #0099CD;
  color: #fff;
  box-shadow: 5px 5px 0px 0px white;
  transition: all 0.2s;
}

.slideIn--animation {
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.slideUp--animation {
  animation: slideUp 1s ease;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.svg-background--animation {
  animation: slidesvg 5s ease-out infinite alternate-reverse;
}

@keyframes slidesvg {
  from {
    transform: scale(1.1);
    transform: translateX(1%);
  }
  to {
    transform: translateX(0%);
    transform: scale();
  }
}
.svg-shadow--animation, .svg-screen--animation {
  animation: slidesvg1 5s ease-out infinite alternate-reverse;
}

@keyframes slidesvg1 {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(2%);
  }
}
.svg-pent-tool--animation {
  animation: slidesvg2 5s ease-out infinite alternate-reverse;
}

@keyframes slidesvg2 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(1%);
  }
}
.svg-colorpalette--animation {
  animation: slidesvg3 5s ease-out infinite alternate-reverse;
}

@keyframes slidesvg3 {
  from {
    transform: translateY(1%);
  }
  to {
    transform: translateY(0%);
  }
}
.fadeIn {
  opacity: 0;
  transform: translateY(30%);
  transition: all 0.7s ease-in 0.2s;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}

.body-section--paddings {
  padding: 50px 0 !important;
}

.section__container {
  width: 80vw !important;
  margin: 50px auto !important;
}

.main-page,
.header-section {
  position: relative;
}

.navigation {
  margin-top: -3px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px 10px 20px;
  width: 100vw;
  background-color: #fff;
  min-height: 8vh;
  position: fixed;
  z-index: 3000000000000000000;
}
.navigation__link-box {
  width: 50%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.navigation__image {
  width: 80%;
}
.navigation .nav-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
.navigation .nav-link:visited, .navigation .nav-link:link {
  color: #3c3c3b;
  position: relative;
}
.navigation .nav-link-current::before {
  content: "";
  width: 100%;
  height: 0.35rem;
  background-color: #E43583;
  display: block;
  opacity: 1;
  bottom: 0;
  right: 0;
  position: absolute;
}
.navigation .nav-link::after {
  content: "";
  width: 0%;
  height: 0.35rem;
  background-color: #E43583;
  display: block;
  transition: width 0.4s linear;
}
.navigation .nav-link:hover::after {
  width: 100%;
}

.burger {
  display: none;
}
.burger div {
  height: 0.4rem;
  width: 3rem;
  background-color: #E43583;
  margin: 6px 0;
}

.hero-section__text, .hero-section__image {
  height: auto;
}
.hero-section .text-head--size {
  font-size: 6.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
}

.hero__container {
  width: 80vw;
  margin: 0 auto !important;
  padding: 55px 0;
}

.menu--shadow {
  box-shadow: 0px 0px 5px 0px #535353 !important;
  background: white;
}

.about {
  background-color: #fdf2f4;
  position: relative;
}
.about__container {
  width: 80vw !important;
  margin: 50px auto !important;
}
.about__photo {
  width: 100%;
}
.about .description__image--size {
  width: 100%;
}
.about .biography__greetings-size {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.about .biography__paragraph--text {
  text-align: justify;
}
.about .biography__paragraph--margin {
  margin-bottom: 5%;
}
.about .about__contacts {
  margin-bottom: 5%;
}
.about .pink--color {
  color: #E43583;
}

.skills {
  background-color: #fdfdfd;
}
.skills__card--color {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 2px -1px black;
  margin-top: 10px;
}
.skills__card--color div {
  margin: 15px 0;
}
.skills .skills__name--size {
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}
.skills .progress__bar--settings {
  background-color: #bfe5f3;
  height: 0.6rem;
  width: 100%;
  position: relative;
}
.skills .progress__bar--settings::-webkit-progress-bar {
  background-color: #bfe5f3;
}
.skills .progress__bar--settings::-webkit-progress-value {
  background-color: #E43583;
  animation: animation-bars 5s linear normal;
  -webkit-animation: animation-bars 5s linear normal;
}
.skills .progress__bar--settings::-moz-progress-bar {
  background-color: #E43583;
}
.skills .skills__text--flex {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.specialisation--backgroundcolor {
  background-color: #282828;
  opacity: 0.99;
}

.specialisation {
  position: relative;
}
.specialisation:after {
  content: "";
  background: url("../img/footer-bcg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: -1;
}
.specialisation__card--color {
  background-color: #E43583;
  color: #fff;
}
.specialisation__card--size {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  position: relative;
}
.specialisation .card--hiddenLink {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 20%;
  opacity: 0.7;
}
.specialisation .card--hiddenLink::after {
  content: "";
  margin: 10px 25%;
  width: 50%;
  height: 0.35rem;
  background-color: #E43583;
  display: block;
}
.specialisation__card--animation:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-out;
  color: black;
  transform: scale(1.04);
}
.specialisation__card--animation:hover .fas,
.specialisation__card--animation:hover .third__title--size,
.specialisation__card--animation:hover .paragraphs--font-size {
  color: #E43583;
  visibility: hidden;
}
.specialisation__card--animation:hover .card--hiddenLink {
  visibility: visible;
  opacity: 1;
}
.specialisation .fas {
  font-size: 5rem;
}

.portfolio {
  background-color: #fdfdfd;
}
.portfolio .visible-card {
  visibility: visible;
}

.contact {
  background-color: #E43583;
}
.contact__main-container--paddings {
  margin-top: 50px !important;
}
.contact__info__position {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contact__text-info--position {
  margin-left: 10px;
}
.contact .info__link--font {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.contact .iconify {
  color: #f8f8f8;
  font-size: 3rem;
  margin-bottom: 5px;
  cursor: pointer;
}
.contact .info__paragrgaph--font {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 3px;
}

.footer {
  position: relative;
}
.footer--background-color {
  background-color: #282828;
  opacity: 0.99;
}
.footer:after {
  content: "";
  background: url("../img/footer-bcg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.03;
  z-index: -1;
}
.footer .footer__header {
  font-family: "Kaushan Script", cursive;
  font-size: 5rem;
  color: #fff;
  text-align: center;
}
.footer .footer__logo div {
  opacity: 0.5;
}
.footer .iconify {
  font-size: 5rem;
  color: white;
}
.footer .footer__logo div:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
.footer .footer__logo--position {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin: 50px auto 0 auto;
}
.footer .copy-right {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 800px) {
  .image--size {
    width: 90%;
    margin: 0;
  }

  .text-head--size {
    font-size: 1rem;
  }

  .iconify {
    font-size: 4rem;
  }

  .footer__header {
    font-size: 4rem;
  }
}
@media screen and (max-width: 768px) {
  .navigation__link-box {
    position: absolute;
    top: 10vh;
    height: 50vh;
    right: 0px;
    background-color: #FDFDFD;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease 0.2s;
    z-index: 3;
  }

  .hero-section {
    margin-top: 10% !important;
    margin-bottom: 15%;
  }

  .nav-link {
    border-bottom: 1px solid #E43583;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .hidden-card {
    display: none !important;
  }
}
@media screen and (max-width: 1200px) {
  .hero-section {
    margin-top: 15% !important;
    margin-bottom: 15%;
  }
}
.nav-active {
  transform: translateX(0%);
}

.main-page--blacked {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 10;
  opacity: 0.7;
  transition: all 0.5s ease-in-out 0.3s;
}

/*# sourceMappingURL=style.css.map */
