*,*::after, *::before{
    margin: $body-margin;
    padding: $body-padding;
    box-sizing: $body-box-sizing;
}

html{
    font-size: 62.5%;
}

.main-page--reset{
    width: $sizeMain ;
    margin: $marginTopBottomMain $marginRight;

}