
.titles--font-family{
    font-family: $titles;
}

.paragraphs-font-family{
    font-family: $paragraphs;
}
.titles--font-color{
    color: $pinkColor;
}
.title--second-color{
    color: $blackColor;
}
.title--third-color{
    color: $greyColor;
}
.paragraphs--color{
    color: $blackColor;
}
.paragraphs--font-family{
    font-family: $paragraphs;
}
.titles--font-size{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.paragraphs--font-size{
    font-size: 1.7rem;

}
.description__paragraph--size{
    border-top: 2px solid $blueColor;
    width: 70%;
    padding-top: 5px;
    font-size: 2rem;
    font-weight: 400;
    margin: 20px 0px 50px 0;
}
.bold-text--color{
    color: $pinkColor;
}
.third__title--size{
    font-size: 2.2rem;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: $paragraphs;

}
.label--font-family{
    font-family: $paragraphs;
    color : rgb(95, 95, 95);
}

.bold--text{
    font-weight: $fontWeight;
    font-size: 2rem;
}
.icon--font-color{
    color: $pinkColor;
}

.titles--underline::after{
    content: '';
    position: absolute;
    width: 5%;
    height: 0.35rem;
    background-color: $pinkColor;
    display: block ;
    margin: 0px 47%;
    margin-top: 5px;
}

.titles--underline-white::after{
    content: '';
    position: absolute;
    width: 5%;
    height: 0.35rem;
    background-color: white;
    display: block ;
    margin: 0px 47%;
    margin-top: 5px;
}
.title--black{
    color: rgba(0, 0, 0, 0.952);
}

