.titles--font-family{
    font-family: $titles;
}

.paragraphs-font-family{
    font-family: $paragraphs;
}
.titles--font-color{
    color: $pinkColor;
}
.title--second-color{
    color: $blackColor;
}
.title--third-color{
    color: $greyColor;
}
.paragraphs--color{
    color: $blackColor;
}
.titles--font-size{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.paragraphs--font-size{
    font-size: 1.5rem;
    text-align: left;
}
.description__paragraph--size{
    border-top: 2px solid $blueColor;
    width: 70%;
    padding-top: 5px;
    font-size: 2rem;
    font-weight: 400;
    font-family: Roboto;
    margin: 20px 0px 50px 0;
}
.bold-text--color{
    color: $pinkColor;
}
.third__title--size{
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}
