.btn:link,
.btn:visited{
    @include buttonColors;
    padding: 1rem 2rem;
    position: relative;
    font-weight: bold;
    font-size: 1.4rem !important; 
}

.btn:hover{
    background-color: #E43583;
    border: 2px solid #E43583;
    color: #fff;
    box-shadow: 5px 5px 0px 0px  $blueColor;
    transition: 0.2s;
}

.btn-nav:link,
.btn-nav:visited{
    @include buttonColors;
    padding: 0.7rem 1.6rem;
    position: relative;
    font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bolder;
        font-family: Roboto ;
}

.btn-nav:hover{
    background-color: #E43583;
    border: 2px solid #E43583;
    color: #fff;
    box-shadow: 5px 5px 0px 0px  $blueColor;
    transition: 0.2s;
}

.btn--centered-size{
    text-align: center;
    margin-top: 50px;
}