.btn:link,
.btn:visited{
    @include buttonColors;
    padding: 1rem 2rem;
    position: relative;
    font-weight: bold;
    font-size: 1.5rem; 
}
/*.btn::after{
    content: '';
    height: 100%;
    width: 100%;
    background : #E43583 ;
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: -1;
        
}

.btn:hover{
    background-color: #E43583;
    border: 2px solid #E43583;
    color: #fff;
}*/